                    <%tip = @tips if @tips.present?%>
					
						<div class="travel-tips-block">
							<div class="heading-block">
                                <h2 class="heading">India: Travel Tips</h2>
                                <div class="head-line m-b-10"></div>
                            </div>
							<div class="row">
								<div class="col-md-7">
									<p class="para-text">
									<%= tip.try(:content)%>	
									</p>
								</div>
								<div class="col-md-5">
									<div class="tips-img">
										<img class="img-responsive" src="/assets/tips.png">
									</div>
								</div>
								<div class="col-md-12">
									<p class="para-text">
										Sites: Everyone goes to India to see the Taj Mahal and perhaps a few other major sites such as Agra Fort etc. By all means these are as spectacular as you can imagine, but make sure to make time for visiting relatively unknown places that might be mentioned in off-the-road guide books. They will be worth the effort because oftentimes these places are devoid of massive corwds & hawkers and you can take in the quiet serenity of India in these places while truly appreciating the phenomal art & architecture of these little known discoveries.Also make sure that you take a trusted guide with you to all the sites, because they can open your eyes to the hidden things that surround you and they will enrich your experience of wandering by adding the richness of history, legend, and myth to the beautiful places you visit.
									</p>
								</div>
							</div>
						</div>
					<!-- </div> -->