  <div class="travel-tips-block">
                            <div class="heading-block">
                                <h2 class="heading"><%= tip.try(:title)%></h2>
                                <div class="head-line m-b-10"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="para-text">
                                    <%= tip.try(:content).try(:html_safe)%>    
                                    </p>
                                </div>
                                
                                
                            </div>
                        </div>
                    <!-- </div> -->