<div class="border-top"></div>
	<section class="main-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6  m-t-20">
					<div class="about-imgbox">
						<img src="/assets/aboutbg.png">
					</div>
				</div>
				<div class="col-md-6">
					<div class="main-wrap">
						<h2 class="heading">About Us</h2>
						<div class="head-line m-b-10"></div>
						<p class="para-text"><%= html_escape(@about_us) %></p>
					</div>
				</div>
			</div>
		</div>
	</section>