<div class="border-top"></div>
	<section class="main-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12  m-t-20">
					<div class="main-wrap">
						<h2 class="heading">Terms & Conditions</h2>
						<div class="head-line m-b-10"></div>
						<p class="para-text"><%= @terms_and_condition.html_safe %></p>
						
					</div>
				</div>
			</div>
		</div>
	</section>