<table cellspacing="0" cellpadding="0" border="0" paginator="true" class="index_table index" id="index_table_bus_timings">
                        <thead>
                          <tr>
                            <th class="col col-selectable">
                              <div class="resource_selection_toggle_cell">
                                <input type="checkbox" class="toggle_all" name="collection_selection_toggle_all" id="collection_selection_toggle_all">
                              </div>
                            </th>
                            <th class="sortable sorted-desc col col-id"><a href="/admin/bus_timings?order=id_asc">Id</a></th>
                            <th class="sortable col col-city"><a href="/admin/bus_timings?order=city_desc">City</a></th>
                            <th class="sortable col col-arrival"><a href="/admin/bus_timings?order=arrival_desc">Arrival</a></th>
                            <th class="sortable col col-deperture"><a href="/admin/bus_timings?order=deperture_desc">Deperture</a></th>
                            <th class="sortable col col-day_of_arrival"><a href="/admin/bus_timings?order=day_of_arrival_desc">Day Of Arrival</a></th>
                            <th class="sortable col col-day_of_deperture"><a href="/admin/bus_timings?order=day_of_deperture_desc">Day Of Deperture</a></th>
                            <th class="sortable col col-created_at"><a href="/admin/bus_timings?order=created_at_desc">Created At</a></th>
                            <th class="sortable col col-updated_at"><a href="/admin/bus_timings?order=updated_at_desc">Updated At</a></th>
                            <th class="col col-actions"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr id="bus_timing_13" class="odd">
                            <td class="col col-selectable">
                              <div class="resource_selection_cell">
                                <input type="checkbox" name="collection_selection[]" class="collection_selection" value="13" id="batch_action_item_13">
                              </div>
                            </td>
                            <td class="col col-id"><a href="/admin/bus_timings/13" class="resource_id_link">13</a></td>
                            <td class="col col-city">delhi</td>
                            <td class="col col-arrival"></td>
                            <td class="col col-deperture"></td>
                            <td class="col col-day_of_arrival"></td>
                            <td class="col col-day_of_deperture"></td>
                            <td class="col col-created_at">September 01, 2017 16:09</td>
                            <td class="col col-updated_at">September 01, 2017 16:09</td>
                            <td class="col col-actions">
                              <div class="table_actions">
<a href="/admin/bus_timings/13" class="view_link member_link">View</a><a href="/admin/bus_timings/13/edit" class="edit_link member_link">Edit</a><a href="/admin/bus_timings/13" data-method="delete" rel="nofollow" data-confirm="Are you sure you want to delete this?" class="delete_link member_link">Delete</a>                              </div>
                            </td>
                          </tr>
                          <tr id="bus_timing_12" class="even">
                            <td class="col col-selectable">
                              <div class="resource_selection_cell">
                                <input type="checkbox" name="collection_selection[]" class="collection_selection" value="12" id="batch_action_item_12">
                              </div>
                            </td>
                            <td class="col col-id"><a href="/admin/bus_timings/12" class="resource_id_link">12</a></td>
                            <td class="col col-city">agra</td>
                            <td class="col col-arrival"></td>
                            <td class="col col-deperture"></td>
                            <td class="col col-day_of_arrival"></td>
                            <td class="col col-day_of_deperture"></td>
                            <td class="col col-created_at">September 01, 2017 16:09</td>
                            <td class="col col-updated_at">September 01, 2017 16:09</td>
                            <td class="col col-actions">
                              <div class="table_actions">
<a href="/admin/bus_timings/12" class="view_link member_link">View</a><a href="/admin/bus_timings/12/edit" class="edit_link member_link">Edit</a><a href="/admin/bus_timings/12" data-method="delete" rel="nofollow" data-confirm="Are you sure you want to delete this?" class="delete_link member_link">Delete</a>                              </div>
                            </td>
                          </tr>
                          <tr id="bus_timing_11" class="odd">
                            <td class="col col-selectable">
                              <div class="resource_selection_cell">
                                <input type="checkbox" name="collection_selection[]" class="collection_selection" value="11" id="batch_action_item_11">
                              </div>
                            </td>
                            <td class="col col-id"><a href="/admin/bus_timings/11" class="resource_id_link">11</a></td>
                            <td class="col col-city">ranthambore</td>
                            <td class="col col-arrival"></td>
                            <td class="col col-deperture"></td>
                            <td class="col col-day_of_arrival"></td>
                            <td class="col col-day_of_deperture"></td>
                            <td class="col col-created_at">September 01, 2017 16:09</td>
                            <td class="col col-updated_at">September 01, 2017 16:09</td>
                            <td class="col col-actions">
                              <div class="table_actions">
<a href="/admin/bus_timings/11" class="view_link member_link">View</a><a href="/admin/bus_timings/11/edit" class="edit_link member_link">Edit</a><a href="/admin/bus_timings/11" data-method="delete" rel="nofollow" data-confirm="Are you sure you want to delete this?" class="delete_link member_link">Delete</a>                              </div>
                            </td>
                          </tr>
                          <tr id="bus_timing_10" class="even">
                            <td class="col col-selectable">
                              <div class="resource_selection_cell">
                                <input type="checkbox" name="collection_selection[]" class="collection_selection" value="10" id="batch_action_item_10">
                              </div>
                            </td>
                            <td class="col col-id"><a href="/admin/bus_timings/10" class="resource_id_link">10</a></td>
                            <td class="col col-city">udaipur</td>
                            <td class="col col-arrival"></td>
                            <td class="col col-deperture"></td>
                            <td class="col col-day_of_arrival"></td>
                            <td class="col col-day_of_deperture"></td>
                            <td class="col col-created_at">September 01, 2017 16:09</td>
                            <td class="col col-updated_at">September 01, 2017 16:09</td>
                            <td class="col col-actions">
                              <div class="table_actions">
<a href="/admin/bus_timings/10" class="view_link member_link">View</a><a href="/admin/bus_timings/10/edit" class="edit_link member_link">Edit</a><a href="/admin/bus_timings/10" data-method="delete" rel="nofollow" data-confirm="Are you sure you want to delete this?" class="delete_link member_link">Delete</a>                              </div>
                            </td>
                          </tr>
                          <tr id="bus_timing_9" class="odd">
                            <td class="col col-selectable">
                              <div class="resource_selection_cell">
                                <input type="checkbox" name="collection_selection[]" class="collection_selection" value="9" id="batch_action_item_9">
                              </div>
                            </td>
                            <td class="col col-id"><a href="/admin/bus_timings/9" class="resource_id_link">9</a></td>
                            <td class="col col-city">jaipur</td>
                            <td class="col col-arrival"></td>
                            <td class="col col-deperture"></td>
                            <td class="col col-day_of_arrival"></td>
                            <td class="col col-day_of_deperture"></td>
                            <td class="col col-created_at">September 01, 2017 16:09</td>
                            <td class="col col-updated_at">September 01, 2017 16:09</td>
                            <td class="col col-actions">
                              <div class="table_actions">
<a href="/admin/bus_timings/9" class="view_link member_link">View</a><a href="/admin/bus_timings/9/edit" class="edit_link member_link">Edit</a><a href="/admin/bus_timings/9" data-method="delete" rel="nofollow" data-confirm="Are you sure you want to delete this?" class="delete_link member_link">Delete</a>                              </div>
                            </td>
                          </tr>
                          <tr id="bus_timing_8" class="even">
                            <td class="col col-selectable">
                              <div class="resource_selection_cell">
                                <input type="checkbox" name="collection_selection[]" class="collection_selection" value="8" id="batch_action_item_8">
                              </div>
                            </td>
                            <td class="col col-id"><a href="/admin/bus_timings/8" class="resource_id_link">8</a></td>
                            <td class="col col-city">delhi</td>
                            <td class="col col-arrival"></td>
                            <td class="col col-deperture"></td>
                            <td class="col col-day_of_arrival"></td>
                            <td class="col col-day_of_deperture"></td>
                            <td class="col col-created_at">September 01, 2017 16:09</td>
                            <td class="col col-updated_at">September 01, 2017 16:09</td>
                            <td class="col col-actions">
                              <div class="table_actions">
<a href="/admin/bus_timings/8" class="view_link member_link">View</a><a href="/admin/bus_timings/8/edit" class="edit_link member_link">Edit</a><a href="/admin/bus_timings/8" data-method="delete" rel="nofollow" data-confirm="Are you sure you want to delete this?" class="delete_link member_link">Delete</a>                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>