<header id="myCarousel" class="home-cro carousel slide">
			<div class="carousel-inner custom-carousel">
				<div class="item">
					<div class="fill bg1"></div>
					<div class="carousel-caption">
						<div class="main-t-h">Track your Routes</div>
						<div class="sub-t-h">Lorem Ipsum is simply dummy text of the printing and</div>
						<div class="clearfix text-center">
							<a href="#" class="btn btn-custom">Read More</a>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="fill bg2"></div>
					 <div class="carousel-caption">
						<div class="main-t-h">Track your Routes</div>
						<div class="sub-t-h">Lorem Ipsum is simply dummy text of the printing and</div>
						<div class="clearfix text-center">
							<a href="#" class="btn btn-custom">Read More</a>
						</div>
					</div>
				</div>
				<div class="item active">
					<div class="fill bg3"></div>
					 <div class="carousel-caption">
						<div class="main-t-h">Track your Routes</div>
						<div class="sub-t-h">Lorem Ipsum is simply dummy text of the printing and</div>
						<div class="clearfix text-center">
							<a href="#" class="btn btn-lg btn-custom">Read More</a>
						</div>
					</div>
				</div>
			</div>
			<a class="left carousel-control arrow" href="#myCarousel" data-slide="prev">
				<span class="icon-ar"></span>
			</a>
			<a class="right carousel-control arrow" href="#myCarousel" data-slide="next">
				<span class="icon-ar"></span>
			</a>
		</header>
		<section class="home-f">
			<div class="container">
				<div class="heading-crat text-center">
					<h2>HOW IT WORKS</h2>
					<span></span>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-4">
						<div class="sec_contain">
							<figure class="post-thumb"> 
								<img src="img/img-1.png" alt="" class="img-responsive" />
								<figcaption><span><img src="/assets/t1.png" alt="" /></span></figcaption>	
							</figure>
							<div class="thumb-info text-center">
								<h4>Cupiditate laudantium Velit</h4>
								<p>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit</p>
								<a href="#"> Read More >> </a>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4">
						<div class="sec_contain">
							<figure class="post-thumb"> 
								<img src="img/img-2.png" alt="" class="img-responsive" />
								<figcaption><span><img src="/assets/t2.png" alt="" /></span></figcaption>	
							</figure>
							<div class="thumb-info text-center">
								<h4>Cupiditate laudantium Velit</h4>
								<p>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit</p>
								<a href="#"> Read More >> </a>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4">
						<div class="sec_contain">
							<figure class="post-thumb"> 
								<img src="img/img-3.png" alt="" class="img-responsive" />
								<figcaption><span><img src="/assets/t3.png" alt="" /></span></figcaption>	
							</figure>
							<div class="thumb-info text-center">
								<h4>Cupiditate laudantium Velit</h4>
								<p>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit</p>
								<a href="#"> Read More >> </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="who_sec">
			<div class="container">
				<div class="who_info text-center">
					<div class="inner_content">
						<div class="heading-crat heading-white text-center">
							<h2>HOW IT WORKS</h2>
							<span></span>
						</div>
						<div class="who-cont">
							<p>This is Photoshop’s version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="home-f">
			<div class="container">
				<div class="heading-crat text-center">
					<h2>Our Feeds</h2>
					<span></span>
				</div> 
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-4">
						<div class="sec_contain1">
							<figure class="post-thumb"> 
								<img src="/assets/img1.png" alt="" class="img-responsive" />
							</figure>
							<div class="thumb-info1">
								<div class="feeds-in text-center">
									<h4>James Jackson</h4>
									<p>#ipsum #dolor sit amet, conse ctetur adipiscing elit # Aenean euismod bibendum laoreet. Proin gravida dolor sit</p>
									<div class="date-link">
										<label class="pull-left">12-08-2016</label>
										<a href="#" class="pull-right"><img src="/assets/insta.png" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4">
						<div class="sec_contain1">
							<figure class="post-thumb"> 
								<img src="/assets/img2.png" alt="" class="img-responsive" />
							</figure>
							<div class="thumb-info1">
								<div class="feeds-in text-center">
									<h4>James Jackson</h4>
									<p>#ipsum #dolor sit amet, conse ctetur adipiscing elit # Aenean euismod bibendum laoreet. Proin gravida dolor sit</p>
									<div class="date-link">
										<label class="pull-left">12-08-2016</label>
										<a href="#" class="pull-right"><img src="/assets/insta.png" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4">
						<div class="sec_contain1">
							<figure class="post-thumb"> 
								<img src="/assets/img3.png" alt="" class="img-responsive" />
							</figure>
							<div class="thumb-info1">
								<div class="feeds-in text-center">
									<h4>James Jackson</h4>
									<p>#ipsum #dolor sit amet, conse ctetur adipiscing elit # Aenean euismod bibendum laoreet. Proin gravida dolor sit</p>
									<div class="date-link">
										<label class="pull-left">12-08-2016</label>
										<a href="#" class="pull-right"><img src="/assets/twit.png" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> 
		</section>