<section class="page-content passes-page">
    <div class="container">
      <div class="row">
          <div class="col-md-10">
            <div class="tab-block">
              <ul class="nav nav-tabs nav-justified">
                <li><a data-toggle="tab" href="#menu2" id = "hide_see_less">Open Passes</a></li>
                <li class="active"><a data-toggle="tab" href="#menu3">Closed Passes</a></li>
              </ul>
              <!------ Detail itinerary  ------>
              <div class="tab-content">
                
                <div class="tab-pane fade in" id="menu2">
                      <div class="tab-desc clearfix">
                           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                        <div class="possible-routes-block">
                            <div class="row">

                              <!---for loop-->

                              <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="sec_contain">
                                  <div class="thumb-info text-center">
                                    <h4 class="passes-name">Blue Route</h4>
                                    <div class="detail-trip-block">
                                      <div class="detail-t">
                                        <label>Price :  </label> 
                                        <span>12332</span>
                                      </div>
                                      <div class="detail-t">
                                        <label>Duration :  </label> 
                                        <span>213 days</span>
                                      </div>
                                      <div class="detail-t">
                                        <label>Start Point:  </label> 
                                        <span>Delhi</span>
                                      </div>
                                    </div>
                                    <div class="clearfix cart-box">
                                      <a class="add-cart-btn" href="#">Add to cart</a>
                                    </div>
                                    
                                  </div>
                                </div>
                               </div>

                               <!---for loop-->
                            </div>
                          </div>

                  </div>
               
                <div class="tab-pane fade active in" id="menu3">
                        <div class="tab-desc clearfix">
                           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                        <div class="possible-routes-block">
                            <div class="row">

                              <!---for loop-->

                              <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="sec_contain">
                                  <div class="thumb-info text-center">
                                    <h4 class="passes-name">Blue Route</h4>
                                    <div class="detail-trip-block">
                                      <div class="detail-t">
                                        <label>Price :  </label> 
                                        <span>12332</span>
                                      </div>
                                      <div class="detail-t">
                                        <label>Duration :  </label> 
                                        <span>23 days</span>
                                      </div>
                                      <div class="detail-t">
                                        <label>Start Point:  </label> 
                                        <span>Delhi</span>
                                      </div>
                                    </div>
                                    <div class="clearfix cart-box">
                                      <a class="add-cart-btn" href="#">Add to cart</a>
                                    </div>
                                    
                                  </div>
                                </div>
                               </div>

                               <!---for loop-->
                            </div>
                          </div>
                     </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>