<% object = @object if @object.present? %>
    <div id = "more_read_<%=object.id%>">
		  <p> <%= object.id %></p>
		  <a id = "read_more_link_<%=object.id%>" class= "read_more"> Read More  </a>
	</div>



	<!-- problem of same id conflict -->