<html>
<body>
	<div style="font-family:Helvetica,Arial,sans-serif;font-size:12px">
		<p>
			<span style="font-size:14px">
				<span style="font-family:arial,helvetica,sans-serif">Hi <%=@contact_params[:first_name]%></span>
			</span>
		</p>
		<p>
			<span style="font-size:14px">
				<span style="font-family:arial,helvetica,sans-serif">Thank you for showing your interest in CABEZI.&nbsp;Your profile is created as Rider.</span>
			</span>
		</p>
		<p>
			<span style="font-size:14px">
				<span style="font-family:arial,helvetica,sans-serif">
					If you have any questions regarding anything please feel free to reach us.
				</span>
			</span>
		</p>
		<p>&nbsp;</p>
		<p>
			<span style="font-size:14px">
				<span style="font-family:arial,helvetica,sans-serif">Admin,</span><br>
				<span style="font-family:arial,helvetica,sans-serif">CABEZI</span>
			</span>
			<br><br>&nbsp;
		</p>
	</div>
</body>
</html>