<section class="page-content passes-page">
    <div class="container">
      <div class="row">
          <div class="col-md-9">
             <div class="panel panel-default div_height">
                <div id="headingOne" role="tab" class="panel-heading">
                  <h4 class="panel-title">
                    <a aria-controls="collapseOne" aria-expanded="false" href="#collapseOne" data-parent="#accordion" data-toggle="collapse">
                    Buses
                    </a>
                  </h4>
                </div>
                <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse in" id="collapseOne">
                  <div id="bus_data_append" class="panel-body panel-table table-responsive">
                     <table class="table">
                        <thead>
                         <tr>
                           <th>From</th>
                           <th>To</th>
                           <th>Departs</th>
                           <th>Arrives</th>
                           <th>From</th>
                           <th>Until</th>
                         </tr>
                        </thead>
                          <tbody>
                              <tr>
                                <td>agra</td>
                                <td>agra</td>
                                <td>02:02</td>
                                <td>01:01</td>
                                <td> 1 Sep</td>
                                <td> 6 Oct</td>
                              </tr>
                              <tr>
                                <td>delhi</td>
                                <td>ranthambore</td>
                                <td>02:01</td>
                                <td>02:02</td>
                                <td> 5 Sep</td>
                                <td>30 Sep</td>
                              </tr>
                              <tr>
                                <td>delhi</td>
                                <td>jaipur</td>
                                <td>04:01</td>
                                <td>02:02</td>
                                <td> 7 Sep</td>
                                <td>30 Sep</td>
                              </tr>
                              <tr>
                                <td>agra</td>
                                <td>delhi</td>
                                <td>01:01</td>
                                <td>01:01</td>
                                <td> 7 Sep</td>
                                <td>30 Sep</td>
                              </tr>
                              <tr>
                                <td>delhi</td>
                                <td>jaipur</td>
                                <td>01:01</td>
                                <td>02:01</td>
                                <td> 6 Sep</td>
                                <td>30 Sep</td>
                              </tr>
                           
                          </tbody>

                          </table>
                  </div>
                </div>
              </div>
           </div>
           <div class="col-md-3">
             <div class="panel panel-default div_height">
                <div id="headingOne" role="tab" class="panel-heading">
                  <h4 class="panel-title">
                    <a aria-controls="collapseTwo" aria-expanded="false" href="#collapseTwo" data-parent="#accordion" data-toggle="collapse">
                    pass
                    </a>
                  </h4>
                </div>
                <div aria-labelledby="headingTwo" role="tabpanel" class="panel-collapse collapse in" id="collapseTwo">
                  <div class="set-default-active">Lorem Ipsum</div>
                  <div id="bus_data_append" class="panel-body panel-table table-responsive">
                     <table class="table">
                          <tbody>
                              <tr>
                                <td>agra</td>
                               <td> <a class="btn btn-danger" href="#">Set default</a></td>
                              </tr>
                              <tr>
                                <td>agra</td>
                               <td> <a class="btn btn-danger" href="#">Set default</a></td>
                              </tr>
                              <tr>
                                <td>agra</td>
                              <td> <a class="btn btn-danger" href="#">Set default</a></td>
                              </tr>
                              <tr>
                                <td>agra</td>
                              <td> <a class="btn btn-danger" href="#">Set default</a></td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                </div>
              </div>
           </div>
      </div>
    </div>
  </section>