<% if @buses %>
<table class="table">
<thead>
 <tr>
   <th>From</th>
   <th>To</th>
   <th>Price</th>
   <th>Departs</th>
   <th>Arrives</th>
   <th>Start Date</th>
   <th>Until</th>
   <th></th>
 </tr>
</thead>
<tbody>
<% @buses.each do |bus| %>
 <tr>
   <%= bus %><br>
 </tr>
<% end%>
 
</tbody>
</table>
<% end %>