          <!-- second row -->
          <div class="col-md-10">
            <div class="tab-block">
              <ul class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="tab" href="#home">Detail itinerary</a></li>
                <li><a data-toggle="tab" href="#menu1">Accomodation</a></li>
                <li><a data-toggle="tab" href="#menu2">City Info & Activities</a></li>
                <li><a data-toggle="tab" href="#menu3">Possible Routes</a></li>
              </ul>
              <!------ Detail itinerary  ------>
              <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                  <div class="itinerary-block faq-content-block">
					<div class="row date-picker">
					  <div class="col-md-6">
                        <form class="form-block">
                          <div class="form-group">
                            <input type="date" class="form-control" placeholder="search">
                          </div>
                        </form>
                      </div>
                      <div class="col-md-2 text-center">
                        <button class="btn red-btn go">Go</button>
                      </div>
					</div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                          <div class="panel panel-default calendar-block">
                            <div class="panel-heading" role="tab" id="headingOne">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapsefirst" aria-expanded="true" aria-controls="collapseOne">
                                Timetable
                                </a>
                              </h4>
                            </div>
                            <div id="collapsefirst" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                              <div class="panel-body">
                                <div class="row">

                                    <div id="calendar"></div>

                              
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Schedule
                                </a>
                              </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                              <div class="panel-body panel-table table-responsive">
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th>From</th>
                                      <th>To</th>
                                      <th>Departs</th>
                                      <th>Arrives</th>
                                      <th>From</th>
                                      <th>Untill</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>New Delhi</td>
                                      <td>Bikaner</td>
                                      <td>08:00</td>
                                      <td>16:00</td>
                                      <td>12 Sep</td>
                                      <td>17 Sep</td>
                                    </tr>
                                    <tr>
                                      <td>New Delhi</td>
                                      <td>Bikaner</td>
                                      <td>08:00</td>
                                      <td>16:00</td>
                                      <td>12 Sep</td>
                                      <td>17 Sep</td>
                                    </tr>
                                    <tr>
                                      <td>New Delhi</td>
                                      <td>Bikaner</td>
                                      <td>08:00</td>
                                      <td>16:00</td>
                                      <td>12 Sep</td>
                                      <td>17 Sep</td>
                                    </tr>
                                    <tr>
                                      <td>New Delhi</td>
                                      <td>Bikaner</td>
                                      <td>08:00</td>
                                      <td>16:00</td>
                                      <td>12 Sep</td>
                                      <td>17 Sep</td>
                                    </tr>
                                    <tr>
                                      <td>New Delhi</td>
                                      <td>Bikaner</td>
                                      <td>08:00</td>
                                      <td>16:00</td>
                                      <td>12 Sep</td>
                                      <td>17 Sep</td>
                                    </tr>
                                    <tr>
                                      <td>New Delhi</td>
                                      <td>Bikaner</td>
                                      <td>08:00</td>
                                      <td>16:00</td>
                                      <td>12 Sep</td>
                                      <td>17 Sep</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!------ Accomodation  ------>
                <div id="menu1" class="tab-pane fade">
                  <div class="accomodation-block">
                    <div class="heading-block">
                      <h2 class="heading">Accomodation</h2>
                      <div class="head-line m-b-10"></div>
                    </div>
                    <p class="txt">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenvoluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                  </div>
                </div>
                <!------ City Info & Activities  ------>
            
                    

                <!-- hello -->
                <div id="menu2" class="tab-pane fade in">
                  <div class="city-info">
                    <div class="row city-search-block"  >
                      <div class="col-md-6">
                        <form class="form-block">
                          <div class="form-group">
                            <%= select_tag :city , options_for_select(@city_dropdown.pluck(:name ,:id)) , :id => "city_dropdown", :class => "form-control" , :include_blank => "Select City"%>
                          </div>
                        </form>
                      </div>
                      
                    </div>
					
					<!-- Category main section removed from here -->

                           <%= render partial: "/user/routes/category_details"%>
                  <div class="category-main-section" id = "city_details_append">
                  <%= render partial: "/user/routes/city_details"%>
                  </div>
                <!------ Possible Routes  ------>
                <div id="menu3" class="tab-pane fade">
                  <%= render partial: "/user/routes/possible_routes" %>
                </div>

              </div>
            </div>
          </div>

    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
 <!--    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>
    <script src="http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"></script> -->
    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>
  <script>
        $('#calendar').fullCalendar({
            dayClick: function(date, jsEvent, view){ 

             alert('Clicked on: ' + date.format());

        alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);

        alert('Current view: ' + view.name);

        // change the day's background color just for fun
        $(this).css('background-color', 'red');
            },
            height: 650,
            defaultDate: Date.current,
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            events:[
        {
            title  : 'event1',
            start  : Date.current
        },
        {
            title  : 'event2',
            start  : '2016-10-25',
            end    : '2016-10-27',
            url: 'http://google.com/',
        },
        {
            title  : 'event3',
            start  : '2016-10-09 12:30:00',
            allDay : false
        }
    ] 
        });
</script>