<header>
			<div class="container">
			  <div class="row">
				<div class="col-sm-12">
				  <div class="map-block">
					<div class="map"><img class="img-responsive" src="/assets/map.png" style="width:100%; min-height:180px;"></div>
					<div class="search-route">
					  <form class="form-block">
						<div class="form-group">
	

						<%= select_tag "city_route", options_for_select(MainRoute.where(is_active: true).pluck(:name,:id).map{|k,v| [k.titleize,v]}),:class=>"form-control",:include_blank => "Select Route" %>



						</div>
					  </form>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		</header>
		
		<section class="page-content hop-content">
			<div class="container">
				<div class="heading-block">
					<h2 class="heading">HOP TO HOP ROUTES</h2>
					<div class="head-line m-b-10"></div>
				</div>
				<div class="row city-search-block">
                    <div class="col-md-4">
                        <form class="form-block">
                          <div class="form-group">
                            <%= select_tag "from_city",nil,:class=> "form-control", :prompt=> 'From' ,:id=>"from_city"%> 
                          </div>
                        </form>
                      </div>
                      <div class="col-md-4">
                        <form class="form-block">
                          <div class="form-group">
                           <%= select_tag "to_city",nil,:prompt=>"To",:class=> "form-control",:id=>"to_city"%> 
                          </div>
                        </form>
                      </div>
                      <div class="col-md-4 col-sm-6 col-xs-12">
                        <button class="btn red-btn go" id = "go_hop" >Go</button>
						
                      </div>
                </div>
					<div class="hop-to-hop-block">
                    <div class="heading-block">
                      <h2 class="heading">Detail</h2>
                      <div class="head-line m-b-10"></div>
                    </div>
                    <p class="txt" id = "bus_details_append">
                      <%= render :partial=>'user/routes/bus_details'%>
                    </p>
                  </div>
			</div>
		</section>
		