

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Airport Services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML template for Your company">
    <meta name="author" content="Oskar Zabik (oskar.zabik@gmail.com)">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/global.css" rel="stylesheet">
    <link rel="stylesheet" href="css/responsive.css">
    <link href="css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body class="home">

    <header>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="map-block">
            <div class="map"><img class="img-responsive" src="/assets/map.png" style="width:100%; min-height:180px;"></div>
            <div class="search-route">
              <form class="form-block">
                <div class="form-group">
                  <%#= select_tag_field :routes,nil, options_from_collection_for_select([["1", 4],["2",6]]) %>

                  <%= select_tag "route", options_for_select(@route_dropdown.pluck(:name,:id)),:class=>"form-control",:onchange=>"window.location.href='/user/routes/index?route_id='+this.value" ,  :include_blank => "Select Route" %>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    </header>
    <section class="page-content">
      <!-- page section was here -->
      <%= render :partial=> "user/routes/booking_button"  %>
    </section>

  
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>	 

  </body>
</html>