


    <header>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="map-block">
            <div class="map"><img class="img-responsive" src="/assets/map.png" style="width:100%; min-height:180px;"></div>
            <div class="search-route">
              <form class="form-block">
                <div class="form-group">
                  <%#= select_tag_field :routes,nil, options_from_collection_for_select([["1", 4],["2",6]]) %>
                  <%= select_tag "route", options_for_select(@route_dropdown.pluck(:name,:id)),:class=>"form-control",:onchange=>"window.location.href='/user/activities" %>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    </header>
    <section class="page-content">
      <!-- page section was here -->
      <%= render :partial=> "user/routes/booking_button"  %>
    </section>


