// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

@import "active_skin";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }


#header{
	height: 80px!important;


}

#header ul.tabs > li{
	height: 30px!important
}

#header ul.tabs > li a:hover{
    background-color: #e73c3c!important;
    padding: 7px 20px!important;
}

#header ul.tabs > li.current > a {
	background: #e73c3c none repeat scroll 0 0!important;
    border-radius: 0!important;
    color: #fff!important;
    margin: -10px 0!important;
    padding: 7px 20px!important;
}



.error {
    color: red;
    padding-left: 290px;
}