 <footer>
      <div class="top-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-xs-12">
              <h1 class="logo-footer">Logo Here</h1>
            </div>
            <div class="col-md-3 col-xs-12">
              <ul class="quick-links">
                <li><a href="/user/static_content/about_us">About Us</a></li>
                <li><a href="/user/contact_us">Contact us</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Tips</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-xs-12">
              <ul class="quick-links">
                <li><a href="/user/static_content/terms_and_condition">Terms & Condition</a></li>
                <li><a href="#">Forums</a></li>
                <li><a href="/user/static_content/privacy_policy">Privacy Policy</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <address class="addr">
                <p>Reservation and Sales<br>Information</p>
                <p>Phone: +91 9876543210</p>
              </address>
              <ul class="social_links">
                <li>
                  <a href="#" target="_blank" ><img src="/assets/s1.png" alt="" /></a>
                </li>
                <li>
                  <a href="#" target="_blank"><img src="/assets/s2.png" alt="" /></a>
                </li>
                <li>
                  <a href="#" target="_blank"><img src="/assets/s3.png" alt="" /></a>
                </li>
                <li>
                  <a href="#" target="_blank"><img src="/assets/s4.png" alt="" /></a>
                </li>
                <li>
                  <a href="#" target="_blank"><img src="/assets/s5.png" alt="" /></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <p>Copyright © 2016 . All Rights Reserved.</p>
        </div>
      </div>
    </footer>
	