 <div pull-bottom>
 <footer>
      <div class="top-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-xs-12">
              <h1 class="logo-footer"><img src="/assets/rsz_3logo3.png" alt=""></h1>
            </div>
            <div class="col-md-3 col-xs-12">
              <ul class="quick-links">
                <li><a href="/user/static_content/about_us">About Us</a></li>
                <li><a href="/user/contact_us" rel="external">Contact us</a></li>
                <li><a href="/user/static_content/faq">FAQ</a></li>
                <li><a href="/user/static_content/tips">Tips</a></li>

              </ul>
            </div>
            <div class="col-md-3 col-xs-12">
              <ul class="quick-links">
                <li><a href="/user/static_content/terms_and_condition">Terms & Conditions</a></li>
                <li><a href="/user/forums">Forum</a></li>
                <li><a href="/user/static_content/privacy_policy">Privacy Policy</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <address class="addr">
                <p>Reservation and Sales<br>Information</p>
                <p>Phone: +91 <%= raw(StaticPage.find_by(title: "Phone Number").try(:content))%></p>
              </address>
            
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <p>Copyright © 2016 . All Rights Reserved.</p>
        </div>
      </div>
    </footer>
	</div>