<!-- Navigation -->
	<header>
		<nav class="navbar navbar-default navbar-fixed-top custom-header">
			<div class="container">
				 
				<div class="navbar-header page-scroll">
					 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand"><img src="/assets/logo.png" alt="" /></a>
				</div>
				
				<div class="collapse navbar-collapse" id="collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/dashboard">Home </a>
						</li>
						<li>
							<a href="/user/routes/index">Routes</a>
						</li>
						<li>
							<a href="/user/routes/hop_on_hop_off">Hop On Hop Off</a>
						</li>

						<li>
                          <a href="/user/activities">Activities</a>
						</li>
						
						<% if current_user %>
						
						
						<li>
						   <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.try(:first_name)%></a>
                                     <ul class="dropdown-menu">
                                     <li><a href="/users/edit_profile">Edit Profile</a></li>
                                     <li><a href="/users/edit">Change Password</a></li>
                                     <li><a href="/user/orders/my_cart">My Cart</a></li>
                                     <li><a href="/user/orders/my_order_history">My Bookings</a></li>
                                     <li><a href="/users/sign_out">Logout</a></li>

                                     </ul>
						</li>

						<% else%>
                         <li>
							<a href="/users/sign_in">Login</a>
						</li>
						<li>
							<a href="/users/sign_up">Sign Up</a>
						</li>
                         
						<% end %>
					</ul>
				</div>
				<br>
                 <% flash.each do |key, value| %>
					  <div class="alert alert-<%= key %> alert-dismissible">
					  <a title="close" aria-label="close" data-dismiss="alert" class="close" href="#">×</a>
					    <%= value %>
					   </div>
				<% end %>
			</div>

		</nav>

	</header>