<!-- Navigation -->
	<header>
		<nav class="navbar navbar-default navbar-fixed-top custom-header">
			<div class="container">
				 
				<div class="navbar-header page-scroll">
					 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/dashboard">
					<% if CompanyLogo.try(:last).present?%>
						<img src="<%= CompanyLogo.try(:last).image_url%>" alt="">
					<% else %>
					    <img src="/assets/rsz_3logo3.png" alt="">
					<% end %>	


					</a>
				</div>
				
				<div class="collapse navbar-collapse hdr-navs" id="collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="firsttab">
							<a href="/dashboard">Home </a>
						</li>
						<li class="firsttab1"> 
							<a href="/user/routes/index">Routes</a>
						</li>
						<li class="firsttab2">
							<a href="/user/routes/hop_on_hop_off">Hop On Hop Off</a>
						</li>

						<li class="firsttab3">
                          <a href="/user/activities">Activities</a>
						</li>
						
                        <li class="firsttab4">
                          <a href="/user/passes">Passes</a>
						</li>

						



						<% if current_user %>
						<li class="firsttab4">
                          <a href="/user/bookings/index">Bookings</a>
						</li>
						
						<li>
						   <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.try(:first_name)%></a>
                                     <ul class="dropdown-menu">
                                     <li class="firsttab4" ><a href="/users/edit_profile">Edit Profile</a></li>
                                     <li class="firsttab5"><a href="/users/edit">Change Password</a></li>
                                     <li class="firsttab6"><a href="/user/orders/my_cart">My Cart</a></li>
                                     <li class="firsttab7" ><a href="/user/orders/my_order_history">My Bookings</a></li>
                                     <li class="firsttab8"><a href="/users/sign_out">Logout</a></li>

                                     </ul>
						</li>

						<% else%>
                         <li class="firsttab9">
							<a href="/users/sign_in">Login</a>
						</li>
						<li class="firsttab11" >
							<a href="/users/sign_up">Sign Up</a>
						</li>
                         
						<% end %>
					</ul>
				</div>
				<br>
                 <% flash.each do |key, value| %>
					  <div class="alert alert-<%= key %> alert-dismissible">
					  <a title="close" aria-label="close" data-dismiss="alert" class="close" href="#">×</a>
					    <%= value %>
					   </div>
				<% end %>
			</div>

		</nav>

	</header>

	<script type="text/javascript">
	// $(document).ready(function(){
	// 	var current_tab =  document.cookie;
	// 	if(current_tab != '')
	// 	{
	// 		$('.'+current_tab).addClass('active');
	// 	}
	// 	else
	// 	{
	// 		$('.firsttab').addClass('active');
	// 	}
	// 	$('.navbar-right li > a').click(function(){
	// 		document.cookie = ''
	// 		document.cookie = $(this).parent().get(0).className
	// 	});
	// });
	</script>